.post
  %h1= @post.title
  %p= @post.description
  = link_to "Visit link", @post.link, class: "button"

.homelink
= link_to "Posts", root_path

.postedits
  - if @post.user == current_user
    = link_to "Edit", edit_post_path(@post), class: "button"
    %br/
    = link_to "Destroy", post_path(@post), method: :delete, class: "button"